<div #overlay (click)="changeCollapseState()" class="overlay"></div>
<nav class="navbar navbar-expand-md navbar-dark -dark fixed-top">
  <img *ngIf="role == 'ADMIN'" class="navbar-brand navbar-logo ml-2 pl-4" [src]="'/assets/images/logo.png'"  />
  <img *ngIf="role == 'MANAGER'" class="navbar-brand navbar-logo ml-2 pl-4"
            [src]="corporate?.logotype? getImage(corporate?.logotypeInfo?.fileRoute) : '/assets/images/logo.png'">
  <button class="navbar-toggler button-menu" type="button" (click)="changeCollapseState()">
    <mat-icon>menu</mat-icon>
  </button>

  <!--START WEB MENU -->
  <div class="collapse navbar-collapse pr-4 navbar-web-version" id="navbarsExampleDefault">
    <div class="navbar-nav mr-auto navbar-title-container">
      <!-- <h5 class="navbar-title">Bienvenido,  John Doe</h5> -->
      <ng-content select=".headerWebVersion"></ng-content>
    </div>
    <div class="form-inline my-2 my-lg-0">
      <!-- <a [routerLink]="routerDefinitions.userProfile" [routerLinkActive]="'userProfileActive'" class="account mr-2">
        <mat-icon>person
        </mat-icon>
      </a> -->
      <ng-content select=".changeCorporateForm"></ng-content>
      <a class="mr-1 logout" (click)="onLogout()">
        <img [src]="'/assets/icons/logout.png'" />
      </a>
    </div>
  </div>
  <!--END WEB MENU -->


  <!-- Collapse items navbar -->

  <!--START MOBILE DEVICE AND RESPONSIVE MENU -->
  <div [ngbCollapse]="isNavbarCollapsed" class="navbar-menu-collapse">
    <div class="navbar-user-container">
      <div class="navbar-nav mr-auto navbar-title-container">
        <ng-content select=".headerResponsiveVersion"></ng-content>
      </div>
      <div class="form-inline my-2 my-lg-0">
        <!-- <a [routerLink]="routerDefinitions.userProfile" [routerLinkActive]="'userProfileActive'" class="account">
          <mat-icon>person
          </mat-icon>
        </a> -->
        <a class="mr-1" (click)="onLogout()">
          <img [src]="'/assets/icons/logout.png'" />
        </a>
      </div>
    </div>
    <div class="navbar-menu-container">
      <ng-container *ngFor="let item of menuItems; let i = index">
        <a (click)="menuItemChangeCollapseState(item?.routerLink)">
          <!-- <div *ngIf="checkVisibilityOfMenuItem(item)" class="sidebar-item" [routerLink]="item?.routerLink" -->
          <div class="sidebar-item" [routerLink]="item?.routerLink"
          [routerLinkActive]="item?.routerLink ? 'active' : ''" [ngClass]="{'sidebar-last-item': item ===
          menuItems[menuItems.length - 1]}">
          {{item?.label}}
    </div>
    </a>
    </ng-container>
  </div>
  </div>
  <!--END MOBILE DEVICE AND RESPONSIVE MENU -->
</nav>