<div class="text-center">
    <form class="form-password-recover" [formGroup]="passwordRecoverForm" (ngSubmit)="sendPasswordRecover(passwordRecoverForm.value)">
            <img 
            [src]="'/assets/images/logo.png'" />
            <mat-card class="password-recover-container">
            <mat-form-field class="full-width">
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <div class="button-submit-container">
                <button [disabled]="passwordRecoverForm.invalid" class="btn btn-lg btn-primary btn-block mt-4 pt-3 pb-3" type="submit">Enviar</button>
            </div>
            <div class="go-back-container">
                <a (click)="navigateToLogin()">Volver al inicio de sesión</a>
            </div>
        </mat-card>
        <p class="mt-4 mb-3 text-muted">&copy; Copyright 2019 Closca </p>

    </form>
</div>