// CUSTOM VARIABLES

// #41ADE2 // #00A09B
// Brand custom variables 
$brand-primary: #375580;
$brand-primary-button-color: #60AF39;  
$brand-secondary: #919491;
$brand-success: #69b071;   
$brand-info:    #17a2b8;         
$brand-warning: #ffc107;   
$brand-danger: #d55567;         
$brand-light:  #CDD0CC; 
$brand-dark:   #565A5C;  
$brand-status-pending: #F5A623;
$brand-status-finished: #7ED321;
$main-color: #595959;

//  $button-primary-color: $brand-primary;
 
// Sidebar
// $sidebar-item: $brand-primary;
// $sidebar-item-hover: lighten($brand-primary, 15%)
