.selected-items {
    margin-top: 3px;
    margin-right: 5px;
}

.edit-status-button {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.export-button {
    position: relative;
    float: right;
    top: -4px;
}