<div class="col-12 pt-3">
  <div class="row">
    <div class="col-9">
      <h3 class="float-left title">
        Retos
      </h3>
      <button
        [routerLink]="tableConfig.buttonsConfig.baseRouterLink + '/new'"
        class="btn btn-primary add-button"
      >
        <img src="./../../../../../../../../../assets/icons/add-icon.png" />
      </button>
    </div>
    <div class="col-3 p-0" *ngIf="role == 'ADMIN'">
      <div class="status-container col-12 p-0">
        <mat-button-toggle-group #section="matButtonToggleGroup">
          <mat-button-toggle value="list" checked>
            Lista
          </mat-button-toggle>
          <mat-button-toggle value="order" [routerLink]="routerDefinitions.challenges + '/order'">
            Orden
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="pt-3 col-12 pb-4 pr-0 pl-0" *ngIf="corporates != undefined">
        <app-custom-table
          [dataSource]="items"
          [paginator]="paginator"
          [tableConfig]="tableConfig"
          (formChanges)="filterFormChanges($event)"
          (sendPaginate)="paginate($event)"
          (deleteItem)="deleteItem($event)">
        </app-custom-table>
      </div>
    </div>
</div>
