@import './../../../../../../../../../sass/variables.scss';

.brand-image {
    border: 1px solid var(--corporate-primary, $brand-primary);
    max-width: 93px;
    width: 93px;
    height: 93px;
    margin-right: 15px;
    float: left;
    object-fit: cover;
}

.brand-background-image {
    border: 1px solid var(--corporate-primary, $brand-primary);
    width: 300px;
    height: 451px;
    margin-right: 15px;
    float: left;
    object-fit: cover;
}

.add-button-container{
    cursor: pointer;
    padding-top: 20px;
    a {
        img {
            width: 30px;
            height: auto;
        }
    } 
}

.add-image{
    background-color: var(--corporate-primary, $brand-primary);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 0px;
    padding-bottom: 1px;
    float: left;
    margin-right: 3px;
}

.add-image:hover{
    // background-color: darken($color: $brand-primary, $amount: 5%);
    filter: brightness(85%)
}

.add-image:active{
    box-shadow: 0 0 0 3.5px lighten($color: $brand-primary, $amount: 40%);
}

.delete-button{
    height: 30px;
    width: 30px;
    padding: 0px;
    padding-bottom: 1px;
    float: left;
    margin-right: 3px;
        img{
            height: 15px;
            width: 15px;
        }
    }

.image-upload > input
    {
        display: none;
    }

    .image-upload {
        float: left;
    }
    
    .image-upload img
    {
        height: 30px;
        width: 30px;
        cursor: pointer;
    }