<!-- LOGIN  -->
<div class="text-center">
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="sendLogin(loginForm.value)">
        <img [src]="'/assets/images/logo.png'" data-testid="login-logo" />
        <mat-card class="signin-container" data-testid="login-card">
            <mat-form-field class="full-width">
                <input matInput placeholder="Email" formControlName="email" data-testid="login-email-input">
            </mat-form-field>
            <mat-form-field class="full-width pt-1">
                <input type="password" matInput placeholder="Password" formControlName="password" data-testid="login-password-input">
            </mat-form-field>
            <div class="button-submit-container">
                <button [disabled]="!loginForm.valid" class="btn btn-lg btn-primary btn-block mt-4 pt-3 pb-3" type="submit" data-testid="login-submit-button">Entrar</button>
            </div>

        </mat-card>
        <p class="mt-4 mb-3 text-muted">&copy; Copyright 2019 Closca</p>
    </form>
</div>