<div class="row pt-4">
        <div class="col-12 col-md-12 pt-1 pb-1">
                <div class="title-user-profile">
                        <h3 class="float-start title">
                                <a [routerLink]="routerDefinitions.home">
                                        <mat-icon class="float-start back-icon">keyboard_backspace</mat-icon>
                                </a>
                                Mis Datos
                        </h3>
                </div>

        </div>
        <div class="col-12 col-md-12 pt-1 pb-1">
                <mat-card class="user-profile-card">
                        <form [formGroup]="userForm">
                                <div class="row">
                                        <mat-form-field class="col-12 col-md-6">
                                                <input matInput placeholder="Nombre" formControlName="realName">
                                        </mat-form-field>
                                </div>
                                <div class="row">
                                        <mat-form-field class="col-12 col-md-6">
                                                <input matInput placeholder="Teléfono" formControlName="phoneNumber">
                                        </mat-form-field>
                                </div>
                                <div class="row">
                                        <mat-form-field class="col-12">
                                                <input matInput placeholder="Email" formControlName="email">
                                        </mat-form-field>
                                </div>
                        </form>
                        <div class="row">
                                <div class="buttons-container col-12 pt-4 ps-3">
                                        <ng-content select="button"></ng-content>
                                        <button class="btn btn-primary me-2" (click)="isFormCanceled = true"
                                                [routerLink]="routerDefinitions.home" routerLinkActive="router-link-active">Cancelar</button>
                                        <button class="btn btn-primary ms-2" [disabled]="userForm.invalid || !userForm.dirty"
                                                (click)="saveForm(userForm.value, userForm.valid)">Guardar</button>
                                </div>
                        </div>
                </mat-card>
        </div>
</div>