app-custom-table {
  .action-mat-cell {
    box-shadow: inset 1px 0px 0px 0px rgba(0, 0, 0, 0.12);
  }

  .header-sticky {
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.12);
    border-bottom-width: 0px !important;
  }
  .header-actions-sticky {
    box-shadow: inset 1px -1px 0px 0px rgba(0, 0, 0, 0.12);
    border-bottom-width: 0px !important;
    padding-right: 0px !important;
  }

  .mat-table-sticky {
    padding-right: 0px !important;
  }

  .mat-header-cell {
    padding: 0px 20px !important;
  }

  .mat-sort-header-button {
    outline: none;
    width: 100%;
    height: 100%;
  }

  .mat-sort-header-container {
    display: flex;
    cursor: pointer;
    max-width: 150px;
    align-items: center;
    margin: 0 auto;
  }

  .element-value {
    max-height: 120px !important;
    overflow: hidden !important;
    margin: 10px 0px !important;
  }

  .image-table {
    width: 75px;
    height: 75px;
    -o-object-fit: cover;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin: 10px;
  }

  .ellipsis-text {
    max-width: 300px;
    margin: 0 auto !important;
  }

  .checkboxes {
    max-width: 60px;
  }

  .star {
    position: relative;
    display: inline-block;
    margin: 1px;
    font-size: 20px;
    color: #d3d3d3;
  }

  .full {
    color: orange;
  }

  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: orange;
  }
  
  .rating:focus {
    outline: none;
  }
}
