@import 'src/sass/_variables.scss';

app-reset-password {
    display: block;
    float: left;
    width: 100%;


    .btn, button{
        font-family: 'customFont-regular';
    }
    
    .form-reset-password {
        width: 100%;
        max-width: 430px;
        padding: 15px;
        margin: 4% auto;

        .reset-password-container{
            height: 380px;
            max-width: 530px;
            padding-top: 56px;
            padding-right: 46px;
            padding-left: 46px;
            border-radius: 8px !important;
        }
        
        img {
            max-width: 200px;
            padding: 0;
            padding-bottom: 1.5em;
            object-fit: cover !important;
        }

        .full-width{
            width: 100%;
        }
        .recover-password-container{
            padding-top: 30px;
            text-align: left;
            color: $brand-secondary;
            font-family: 'customFont-light';
            position: absolute;
            left: 25px;
            a{
                text-decoration: none;
                color: $brand-secondary;
            }
        }

        .button-submit-container{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 30px;

            button{
                width: 100%;
                font-size: 1.2em;
            }
        }

        .go-back-container{
            padding-top: 23px;
            text-align: left;
            color: $brand-secondary;
            font-family: 'customFont-light';
            position: absolute;
            left: 25px;
            a{
                text-decoration: none;
                color: $brand-secondary;
                cursor: pointer;
            }
        }
    }


    @media (max-width: 768px){
        .form-reset-password .reset-password-container{
            border: none !important;
            box-shadow: none !important;
        }
      }


}
